@charset "UTF-8";


body {
    background-color: rgba(1, 0, 23, 1);


}

h2 {
    color: white;
}

i#icone {
    color: rgba(1, 0, 23, 1);
}

div#logo {

    margin-top: 100px;

}

div#textoinicio {
    margin-top: 60px;
}