body {
    background: url("http://4k-background.com/highresolution/l_102.jpg") fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.form-holder {
    background: #007aff;
    margin-top: 10%;
    border-radius: 5px;
    margin: 50px;
}

.form-head {
    font-size: 25px;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 30px #000;
    margin: 15px auto 30px auto;
}

.remember-me {
    text-align: left;
}
.ui.checkbox label {
    color: #ddd;
}